@page "/character"
@using Maze_Manual_NS.Services
@using Maze_Manual_NS.models
@inject ICharacterService CharacterService
@inject NavigationManager NavigationManager

<div class="entity-container">
    <!-- This foreach loop goes through every character in the CharacterService entities list and prints them with different
    CSS parameters depending on whether it's a player or monster. -->
    @foreach (var character in CharacterService.Entities)
    {
        if (character is Monster)
        {
            <div class="monster-item" @onclick="() => NavigateToDetails(character.CharacterId)">
                <img src="@character.ImgUrl" alt="Image of @character.Name" width="150" height="150"/>
                <p>@character.Name</p>
                <p>Health: @character.Health</p>
                <p>Damage: @character.Damage</p>
            </div>
        }
        else
        {
            <div class="player-item" @onclick="() => NavigateToDetails(character.CharacterId)">
                <img src="@character.ImgUrl" alt="Image of @character.Name" width="150" height="150"/>
                <p>@character.Name</p>
                <p>Health: @character.Health</p>
                <p>Damage: @character.Damage</p>
            </div>
        }

    }
</div>

@code {
    /// <summary>
    ///     Redirects the user to the character detail page for the selected character
    /// </summary>
    /// <param name="characterId">The unique four-digit ID of the character selected</param>
    void NavigateToDetails(int characterId)
    {
        NavigationManager.NavigateTo($"/entitydetail/{characterId}");
    }

}