@page "/character"
@using Maze_Manual_NS.Services
@using Maze_Manual_NS.models
@inject ICharacterService CharacterService
@inject NavigationManager NavigationManager

<div class="entity-container">
    @foreach (var test in CharacterService.Entities)
    {
        if (test is Monster)
        {
            <div class="monster-item" @onclick="() => NavigateToDetails(test.CharacterId)">
                <img src="@test.ImgUrl" width="150" height="150"/>
                <p>@test.Name</p>
                <p>Health: @test.Health</p>
                <p>Damage: @test.Damage</p>
            </div>
        }
        else
        { 
            <div class="player-item" @onclick="() => NavigateToDetails(test.CharacterId)">
                <img src="@test.ImgUrl" width="150" height="150"/>
                <p>@test.Name</p>
                <p>Health: @test.Health</p>
                <p>Damage: @test.Damage</p>
            </div>
        }

    }
</div>

@code {
    /// <summary>
    ///     Redirects the user to the character detail page for the selected character
    /// </summary>
    /// <param name="characterId">The unique four-digit ID of the character selected</param>
    void NavigateToDetails(int characterId)
    {
        NavigationManager.NavigateTo($"/entitydetail/{characterId}");
    }

}