@page "/note"
@using Maze_Manual_NS.models
@using Maze_Manual_NS.Services
@inject INoteService NoteService
@inject ICharacterService CharacterService
@inject IItemService ItemService

<h3>Notes</h3>

Note:
<br/>
<textarea @bind="ContentText" rows="4" cols="50"></textarea>
<br/>
<!-- When the button is pressed, whatever is typed is sent to the CreateNote method and is added to the notes List -->
<button @onclick="CreateNote">Submit Post</button>
<div class="reference-link">
    <h5> Reference Links </h5>
    <!-- The following foreach loops go through both CharacterService's and ItemService's lists and prints them out to
    the right of the screen as boxes. -->
    @foreach (ICharacterService character in CharacterService.Entities)
    {
        <div class="reference-box">
            <button @onclick="() => AddReferenceLink(character.Name, character.CharacterId)">Add @character.Name</button>
        </div>
    }
    @foreach (Item item in ItemService.Items)
    {
        <div class="reference-box">
            <button @onclick="() => AddReferenceLink(item.ItemName, item.ItemId)">Add @item.ItemName</button>
        </div>
    }
</div>

@foreach (Note tNotes in NoteService.Notes)
{
    // This foreach loop goes through every note in the NoteService list. 
    <div>
        @if (EditedNote != null && tNotes.NoteId == EditedNote.NoteId)
        {
            // This if statement and its subsequent foreach loop does the same thing as above. It's separate because
            // the normal AddReferenceLink method wouldn't apply to the edit text box that opens.
            // Also, it opens up the input box so you can edit your note.
            <textarea @bind="EditedNote.Content" rows="4" cols="50"> </textarea>
            <button @onclick="() => SubmitEdit(EditedNote)">Submit Edit</button>
            <div class="reference-link">
                <h5> Reference Links </h5>
                @foreach (ICharacterService character in CharacterService.Entities)
                {
                    <div class="reference-box">
                        <button @onclick="() => AddReferenceLinkToEdit(character.Name, character.CharacterId)">Add @character.Name</button>
                    </div>
                }
                @foreach (Item item in ItemService.Items)
                {
                    <div class="reference-box">
                        <button @onclick="() => AddReferenceLinkToEdit(item.ItemName, item.ItemId)">Add @item.ItemName</button>
                    </div>
                }
            </div>
        }
        else
        {
            //Assuming a note isn't being edited, every note is printed out with Edit and Delete buttons that call their respective method.
            <p>@((MarkupString)tNotes.Content)</p>
            <button @onclick="() => DeleteNote(tNotes)">Delete</button>
            <button @onclick="() => EditNote(tNotes)">Edit</button>
        }
    </div>
}


@code
{
    /// <summary>
    /// Represents the text content of a note
    /// </summary>
    private string ContentText { get; set; }
    
    /// <summary>
    /// note object that's holds whatever note is being edited.
    /// </summary>
    private Note EditedNote { get; set; }

    /// <summary>
    ///     Handles the UI action of creating a note, passing it to <see cref="NoteService" /> to add to the list of Notes
    /// </summary>
    private async Task CreateNote()
    {
        Note toAdd = new()
        {
            Content = ContentText
        };
        await NoteService.AddNote(toAdd);
        ContentText = "";
        StateHasChanged();
    }

    /// <summary>
    ///     Handles the UI action of deleting a note by passing the note being deleted to <seealso cref="NoteService" />
    ///     remove from the list of Notes
    /// </summary>
    /// <param name="toDelete">The note that is being deleted</param>
    private async Task DeleteNote(Note toDelete)
    {
        await NoteService.DeleteNote(toDelete);
        StateHasChanged();
    }

    /// <summary>
    ///     Handles the UI action of editing a note by occupying <see cref="EditedNote" /> with the content of the note being
    ///     edited.
    /// </summary>
    /// <param name="toEdit">The note that is to be edited</param>
    private void EditNote(Note toEdit)
    {
        EditedNote = new Note
        {
            NoteId = toEdit.NoteId,
            Content = toEdit.Content
        };
    }

    /// <summary>
    ///     Handles the UI action of submitting the changes to a note, by passing <see cref="EditedNote" /> to
    ///     <see cref="NoteService" />
    /// </summary>
    /// <param name="editedNote">The edited note that is to be submitted</param>
    private async Task SubmitEdit(Note editedNote)
    {
        await NoteService.EditNote(editedNote);
        EditedNote = null;
    }

    /// <summary>
    ///     Adds any character's hyperlink to the note creation input box.
    /// </summary>
    /// <param name="name">The name of the character/item</param>
    /// <param name="id">the unique four-digit ID of the character/item</param>
    private void AddReferenceLink(string name, int id)
    {
        string url = $"<a href=\"/entitydetail/{id}\">{name}</a>";
        ContentText += $" {url} ";
    }

    /// <summary>
    ///     Adds any character's hyperlink to the note editing input box.
    /// </summary>
    /// <param name="name">The name of the character/item</param>
    /// <param name="id">The unique four-digit ID of the character/item</param>
    private void AddReferenceLinkToEdit(string name, int id)
    {
        if (EditedNote != null)
        {
            string url = $"<a href=\"/entitydetail/{id}\">{name}</a>";
            EditedNote.Content += $" {url} ";
        }
    }
}